.header {
  background-color: blue;
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.nav li {
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav a:hover {
  color: #968282;
}

.badge {
  background-color: #c0e1d6;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem;
  border-radius: 15px;
  color: blue;
  font-size: 1rem;
  font-weight: bold;
}
