.header {
  background-color: blue;
}

.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.nav li {
  list-style: none;
}

.allBooks {
  display: unset;
}

.favorites {
  display: unset;
}

.addNewBook {
  display: unset;
}

.bars {
  display: none;
  color: #ffffff;
  font-size: 1.7rem;
}

.barsClose {
  display: none;
}

.timesClose {
  display: none;
}

.timesOpen {
  text-align: right;
  display: unset;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav a:hover {
  color: #968282;
}

.badge {
  background-color: #c0e1d6;
  padding: 0.5rem 0.7rem;
  margin: 0.5rem;
  border-radius: 15px;
  color: blue;
  font-size: 1rem;
  font-weight: bold;
}

/* 
Mobile  */

.navMobile {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.bars {
  display: none;
  color: #ffffff;
  font-size: 1.7rem;
}

.navMobile li {
  list-style: none;
}

.navMobile a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.navMobile a:hover {
  color: #968282;
}

.displayUnset {
  display: unset;
}
.displayNone {
  display: none;
}

@media (max-width: 600px) {
  /* .allBooks {
    display: none;
  } */
  .favorites {
    display: none;
  }
  .addNewBook {
    display: none;
  }
  .bars {
    display: unset;
  }
}
